@model TerrainHRM.DTOs.HrCompanyDto

@{
    ViewData["Title"] = "Edit Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="EditCompany" asp-controller="Company" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="FileName" />
    <input type="hidden" asp-for="FileMymeType" />
    <input type="hidden" asp-for="CimId" />
    <div class="form-group row">
        <div class="col-2 text-right">
            <label class="text-info">Company Name</label>
        </div>
        <div class="col-4">
            <input asp-for="CimName" class="form-control" />
        </div>
        <div class="col-2 text-right">
            <label class="text-info">Short Name</label>
        </div>
        <div class="col-4">
            <input asp-for="CimShortName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2 text-right">
            <label class="text-info">Company Address</label>
        </div>
        <div class="col-4">
            <input asp-for="CimDetails" class="form-control" />
        </div>
        <div class="col-2 text-right">
            <label class="text-info">Company Moto</label>
        </div>
        <div class="col-4">
            <input asp-for="CimMoto" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2 text-right">
            <label class="text-info">Logo</label>
        </div>
        <div class="col-4">
            <input asp-for="Logo" class="form-control" />
        </div>
    </div>

    <table>
        <thead class="text-dark">
            <tr>
                <th>Name</th>
                <th>Short Name</th>
                <th>Details</th>
                <th>Moto</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.CompanyDtlList.Count; i++)
            {
                <tr>
                    <td>@Html.EditorFor(x=>x.CompanyDtlList[i].CidName, new { htmlAttribute = new { @class="form-control"} })</td>
                    <td>@Html.EditorFor(x=>x.CompanyDtlList[i].CidShortName, new { htmlAttribute = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(x=>x.CompanyDtlList[i].CidDetails, new { htmlAttribute = new { @class = "form-control" } })</td>
                    <td>@Html.EditorFor(x=>x.CompanyDtlList[i].CidMoto, new { htmlAttribute = new { @class = "form-control" } })</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="form-group row">
        <input type="submit" class="btn btn-primary rounded-0" value="Submit" />
        <a class="btn btn-danger" asp-action="Index" asp-controller="Company" style="margin-left:10px;">Back</a>
    </div>

</form>