
<style>
    #scroll-div {
        overflow: hidden;
    }

    .outer-action_btn {
        position:sticky;
        top:0;
        left:0;
        width: 100%;
        margin: 0 auto;
        display: inline;
    }

    .buttons {
        width: 150px;
        margin: 0 auto;
        display: inline-block;
    }

    .action_btn{
        display:inline-block;
    }
</style>
<div class="row" id="scroll-div">

    <div class="buttons col-12">

        <div class="outer-action_btn">

            <button id="btn-division" class="action_btn" type="button">Division</button>
            <button id="btn-designation" class="action_btn" type="button">Designation</button>
            <button id="btn-office-shift" class="action_btn" type="button">Office Shift</button>
            <button id="btn-education" class="action_btn" type="button">Education</button>
            <button id="btn-university" class="action_btn" type="button">Board/University</button>
            <button id="btn-subject" class="action_btn" type="button">Group/Subject</button>
            <button id="btn-attach" class="action_btn" type="button">Attach Detais</button>
            <button id="btn-joining" class="action_btn" type="button">Joining Activation</button>
            <button id="btn-closing" class="action_btn" type="button">Closing Activation</button>
            <button id="btn-performance" class="action_btn" type="button">Performance Indicator</button>

        </div>

    </div>

</div>